body {
    font-family: Arial, sans-serif;
    color: #000000;
    }
    
    h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
    }
    
    .container{
        background-color: #ddeb1c;
        padding: 2rem;
    }

    form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    }
    
    form input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    }
    
   
